<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1">
	<test verbose="2" name="loginCases">
		<classes>
			<class name="test_cases.LoginCase" >
			<methods >
			<include name="login()"></include>
			</methods>
			</class>
		</classes>
	</test>
</suite>